.reactImageCropThing {
  width: 100%;
  height: 500px; /* support changing this */
  padding: 40px;
  background: white;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.displayNone {
  display: none;
}

.cropArea {
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  /*box-shadow: 0 0 1000px rgba(0,0,0,0.3);*/
}

.cropImageMasked {
  margin: 0 auto;
  overflow: hidden;
  /*box-shadow: 0 0 2px rgba(255,255,255, .5);*/
  position: relative;
  text-align: center;
  border: 1px solid red;
  box-sizing: border-box;
}

.cropImageTransparent {
  text-align: center;
  opacity: 0.3;
}

.cropImg {
  /* manipulate height, left, top, and width of this when zooming */
  position: absolute;
  cursor: move;
}

.circleMask {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
